@import url('../header.css/header.css');
@import url('../foorter/footer.css');


.sessaoContact{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    
}
.contatoMain{
    width: 42%;
    height: 70%;
    display: flex;
    
    
}


.tituloContato{
    
    height: 13vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-shadow: rgb(16, 16, 27) 1px 0 1px;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    

}

form {
    height: 99%;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input,
  textarea {
    width: 41%;
    padding: 6px;
    margin-bottom: 18px;
  }
  input[type="submit"] {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #45a049;
  }
.nossosContatos{
    width: 58vw;
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.mensagem{
    width: 42%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.imagenContato{
    width: 37%;
    height: 34%;
    
}
.contenerCont{
    width: 80%;
    height: 54%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction:column;
}
h3.descricao-contato{
   
    margin: 6px;
    padding: 7px;
    text-decoration: overline;
    font-size: 1.5em;
    font-family: 'fantasy';
}
.imagemCarta{
    width: 2vw;
    height: 5vh;
   
}

a.email{
    width: 53%;
    height: 17%;
    font-family: 'fantasy';
    text-decoration: dashed;

}
.imagemTelefone{
    width: 5%;

    
}
.ligar{
    width: 50%;
    height: 16%;
    color: blue;
    text-decoration:dotted;
    font-family: 'fantasy';
}


@media screen and (max-width: 750px)  {
    main{
        display: flex;
        flex-direction: column;
    }
    .sessaoContact{
        flex-direction: column;
    }
    .contatoMain{
        width: 76%;
    }
    .mensagem{
        width: 86%;
        height: 75%;
    }
    .imagemCarta{
        width: 6vw;
    }
    a.email{
        width: 57%;
        height: 13;
    }
    .imagemTelefone{
        width: 9%;
    }
    .ligar{
        width: 55%;
    }
}