@import url('../global.css');


footer {
   background-color: var(--azul);
}
div.logo{
    height: 94%;
    display: flex;
    flex-direction: column;

    
}
/*.logo{
    width: 86%;
    height: 16vh;
    display: flex;
    justify-content: flex-start;
    
   
}*/
.logoImage{
   width: 7vw;
    height: 14vh;
    margin: 5px;
    padding: 3px;
   /* animation: spin 3s linear infinite;*/
    animation: rotate 2s linear infinite; 
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.navFooter{
    height: 6vh;
    display: flex;
    justify-content: center;
    
   
  
}
.ContainerFooter{
    
    display: flex;
    
}

.rede{
    width: 4vw;
    height: 5vh;
    
}
.social{
    width: 15%;
    height: 46%;
    font-size: 15px;
    
}
.face,
.insta,
.you,
.in{
    width: 4vw;
    
}
.textFooter{
    height: 34%;
    

}

.copyright{
   
    font-size: 12px ;
    text-align: center;
}
.data{
    width: 100%;
    font-size: 12px;
    text-align:center;
}

@media (max-width: 750px) {
    footer{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
   
    .logoImage{
        width: 10%;
        height: 10%;
    }
    .navFooter{
        width: 100%;
        height: 10%;
        justify-content: center;
        align-items: center;
    }
    .social{
        width: 30%;
        color: blue;
        text-decoration: overline;
        font-size: 16px;
        
    }
    .reder{
        width: 15%;
        height: 6%;
    }
    .textFooter{
        height: 10%;
        font-size: 15px;
    }
    .data{
      font-size: 15px;  
    }
}

@media (max-width: 1024px) {
   .logoImage{
    width: 11vw;
    height: 10vh;
   }
   .ContainerFooter{
    width: 100%;
    align-items: center;
    justify-content: center;
   }
   div.logo{
    width: 24%;
    height: 75%;

   }
   .social{
    width: 57%;
    font-size: 18px;
   }
   .face{
    width: 4vw;
   }
   .insta{
    width:4vw ;
   }
   .rede a{
    width: 6vw;
    height: 6vh;
   }
   .copyrigth{
    font-size: 14px;
   }
   .data{
    font-size: 14px;
   } 
}