@import url('../global.css');

header {
    height: 48vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7BCFF3;
    
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner {
    background-image: url('../image/banner.jpg');
    background-size: 44% 105%;
    background-repeat: no-repeat;
    background-position: center; 
    height: 38vh;
    width: 50%;
    display: flex;
    transform: rotate(360deg); /* Graus de rotação desejados */
    transition: transform 0.5s ease-out; /* Adiciona uma transição suave */
     
 }
div.botao{
    width: 56vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.doacao{
    background-color: rgb(94, 218, 94);
    width: 15%;
    height: 68%;
    color: white;
    border: none;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}

.doacao :hover{
  cursor: pointer;  

}
.seVoluntario{
    background-color: rgb(94, 218, 94);
    width: 28%;
    height: 67%;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn1 {
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    
}
.btn2{
    width: 64%;
    font-size: 11px;
    height: 85%;
    color: white;
    
}
.menu{
    height: 15vh;
}
 a.home{
    width: 76%;
    height: 82%;
}

.menu-icon {
    display: none;
    cursor: pointer;
}
.nav-list {
    list-style: none;
    margin: 3px;
    padding: 5px;
    display: flex;
}
.nav-list ul {
    display: flex;
    justify-content: space-between;
    /*width: 70vw;*/
}
.nav-list li {
    margin-right: 15px;
    width: 11vw;
    height: 5vh;
    
}
.nav-list a {
    
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: blue;
}
nav-list li:hover{
    width: 40%;
    height: 60%;
    cursor:alias;
    background-color: red;
    color: aliceblue;
}

.bar{
    width: 47%;
    background-color: azure;
    margin: 4px 3px;
    height: 3px;
    border: solid;
}
@media screen and (min-width: 768px){
 
    header{
        height: 90vh;
       

    }

    .banner{
        background-size: 100%;
        width: 67%;
        height: 75%;
        
    }
        
    div.botao{
        flex-direction: column;
        justify-content: space-around;
        height: 62%;
    }
    .doacao{
        width: 32%;
        height: 40%;
        font-size: 1em;

    }
    .btn1{
        
        width: 100%;
        align-items: center;
        justify-content: center;

    }
    .btn2{
        height: 69%;
        font-size: 1em;
        

    }
    .seVoluntario{
        width: 75%;
        height: 42%;
        font-size: 1em;
    }
    .menu-icon{
        height: 50%;
        cursor: pointer;
        font-weight: bold;
    
    }
    .menu ul{
      width: 97%;  
    }
    .nav-list li{
        width: 18%;
        height: 22%;

    }
    .navbar{
    
    height: 100%;
    display: flex;
    flex-direction: column;
        
    }
    .bar{
        width: 70%;
        height: 7%;
        margin-left: 6px;
    }
    .nav-list{
        list-style: none;
        width: 73%;
        
       
      
    }
    .nav-list a{
        text-align: center;

    }
    

}

@media screen and (max-width: 767px) {
    header {
       height: 6vh;
       padding: 7px 9px 7px 9px;
                
    }
    .banner{   
        height: 20%; 
    background-size: 69%;
    background-position: center;
     
    }

    .doacao {
        width: 31%;
        height: 40%;
        text-align: center;
        
    }
    div.botao{
        height: 91%;
        flex-direction: column;
    }
    .seVoluntario{
        width: 63%;
        height:55%;
        
    }
    .btn1{
        width: 95%;
        align-items: center;
        justify-content: center;
    }
    .btn2{
        width: 75%;
        height: 60%;
    }
    .navbar{
    align-items: center;
    padding: 9px;
    display: flex;
    justify-content: space-between;
}
    .nav-list a {
    text-decoration: none;
    color: rgb(45, 15, 214);
    font-weight: bold;
}
.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}
.nav-list {
        display: none;
        flex-direction: column;
        width: 29%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
    }
}








































        display: none;
        
    }
    .ul{
        height: 20%;
    }
    .li{
        height: 5%;
    }
    a{
        width: 10%;
        height: 10%;
    }

  }